<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--    bootstrap   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--    my css-->
    <link rel="stylesheet" type="text/css" href="../public/style.css">


</head>
<body>
<form>
    <div class="form-group">
        <h1></h1>
        <label for="receiver"></label><input class="form-control" id="receiver"/>
        <label for="message"></label><input class="form-control" id="message"/>
        <div id="message-box">hello</div>
    </div>
</form>
<button id="send-message-btn">send</button>
<script>
    $('#send-message-btn').click(function () {
        $.ajax('/send-message', {
            method: 'POST',
            timeout: 100000000000,
            data: $('#message').val(),
        });
    });
    var last_message = '';
    (function poll() {
        $.ajax('/poll', {
            method: 'POST',
            timeout: 1000 * 60 * 10, //10 minutes
            success: function (data) {
                $("<p>" + data + "</p>").appendTo($(document.body));
                last_message = data;
                poll();
            },
            error: function () {
                setTimeout(poll, 1000);
            },
            data: last_message
        });
    }());

</script>


<script>

</script>
</body>
</html>