<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!--    bootstrap   -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--    my css-->
    <link rel="stylesheet" type="text/css" href="../public/style.css">


</head>
<body>
<div class="my-center my-container">
    <form class="my-form my-center">
        <div class="form-group">
            <h6>logged in as <strong id="src"></strong></h6>
            <label for="message">message:</label>
            <textarea id="message" class="form-control" rows="1" oninput="auto_grow(this)"></textarea>
            <div id="message-box" class="border mt-2"></div>
        </div>
    </form>
    <div class="text-center">
        <button id="send-message-btn" class="btn btn-success">send</button>
    </div>
</div>
<script>
    (function load() {
        console.log("in load")
        var last_messages = ''
        $.ajax('/load', {
            method: 'POST',
            timeout: 1000 * 60 * 10, //10 minutes
            success: function (data) {
                $("<span class='override-bootstrap'>" + data + "</span>").appendTo($('#message-box'));
                last_messages = data;
            },
            error: function () {
                setTimeout(load, 1000);
            },
            data: last_messages
        });
    }());

    $('#send-message-btn').click(function () {
        var src = $('#src').text()
        var message = $('#message').val()
        var body = "{" + '"src":' + '"' + src + '"' + ',' + '"content":' + '"' + message + '"' + "}"
        alert(body)
        $.ajax('/send-message', {
            method: 'POST',
            timeout: 100000000000,
            data: body,
        });
    });
    var last_message = '';
    (function poll() {
        $.ajax('/poll', {
            method: 'POST',
            timeout: 1000 * 60 * 10, //10 minutes
            data: last_message,
            success: function (data) {
                $("<p class='override-bootstrap'>" + data + "</p>").appendTo($('#message-box'));
                last_message = data;
                poll();
            },
            error: function () {
                setTimeout(poll, 1000);
            },
        });
    }());


</script>

<script>
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

</script>

<script>
    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }
</script>

<script>
    $(document).ready(function () {
        var cookie = getCookie('username')
        $('#src').text(cookie)
    });
</script>

</body>
</html>