<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login/Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/style.css">

</head>

<body>
<div class="my-center my-container">
    <form class="my-form my-center" action="register-login" method="post">
        <div class="form-group">
            <div class="text-center">
                <h4>Welcome to MM Chatroom</h4>
                <h6>Enter Your Credential to Register or Login</h6>
            </div>
            <label for="username"></label>username<input class="form-control" id="username"/>
            <label for="password"></label>password<input class="form-control" id="password"/>
            <div class="text-center mt-2">
                <button type="submit" class="btn btn-success" id="submit-btn">login/register</button>
            </div>

        </div>
    </form>
</div>
</body>

</html>