<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login/Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../public/style.css">


</head>

<body>
<div class="my-center my-container">
    <form class="my-form my-center">
        <div class="form-group">
            <h4>Welcome to Mohammad chatroom</h4>
            <h6>Enter your credential to Register or Login</h6>
            <label for="username"></label>username<input class="form-control" id="username"/>
            <label for="password"></label>password<input class="form-control" id="password"/>
            <button type="submit" id="submit-btn">login/register</button>
        </div>
    </form>
</div>
</body>

</html>